<%= render 'shared/header' %>
<main>
  <div class="container">
    <h1 class="text-center mb-4 mt-4" style="font-size: 2.5rem;">Discover all the articles</h1>
    <ul class="list-group mx-auto mb-5" style="max-width: 800px;">
      <%@articles.each do |article| %>
        <li class="list-group-item article-item">
          <%= link_to article_path(article), class: 'text-decoration-none' do %>
            <h5><%= article.title %></h5>
            <p><%= truncate(article.content, length: 50) %></p>
          <% end %>
      </li>
      <%end%>
    </ul>
  </div>
</main>
