/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
  padding: .5rem 0;
  border-bottom: .5px solid rgb(181, 176, 176);
  /* background-color: #ede1e1; */

  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures the header stays on top */
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);

  .logo {
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    transition: .5s;
  }
 }


.article-item a {
color: inherit; /* Hérite la couleur du texte du parent */
text-decoration: none; /* Supprime le soulignement du lien */
transition: .5s;
}

/* .article-item a:hover {
  color: red
} */

.article-item {
  transition: background-color 0.3s, transform 0.3s;
}

.article-item:hover {
  background-color: #f8f9fa; /* Couleur de fond lors du survol */
  cursor: pointer; /* Changement du curseur en pointeur */
}


.form-horizontal .form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.btn-lg {
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
}

#buttons {
  margin-bottom: .5rem;

  a {
    font-size: 1.5rem;
    text-decoration: none;

    &:last-child {
      color: red;

      &:hover {
        color: rgb(231, 6, 6);
      }
    }
  }
}

h2 {
  color: #0d6efd;
}

.card {
  box-shadow: 3px 5px 12px -3px rgba(51,51,51,0.75);
}

#containerForElements {
  position: relative;
}
#backButton {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  text-decoration: none;
}
